{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_lti/tool_card

    This template provides the layout for a single tool card on the tool
    configuration page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *

    Example context (json):
    {
    }

}}
<div class="tool-card" data-type-id="{{id}}">
    <div class="overlay-container">
        <div class="img-container">
            {{> mod_lti/loader }}
            <div class="success-icon-container">{{#pix}} i/valid, core, Success{{/pix}}</div>
            <div class="fail-icon-container">{{#pix}} i/invalid, core, Fail{{/pix}}</div>
        </div>
        <div class="capabilities-container">
            <p>This tool requires access to the following data in your site:</p>
            <ul>
                <li>Something</li>
                <li>Something else</li>
            </ul>
            <p>Are you sure you'd like to approve this tool?</p>
            <a class="yes btn btn-success" href="#">Yes</a>
            <a class="no btn btn-danger" href="#">No</a>
        </div>
    </div>
    <div class="tool-card-content">
        <div class="tool-card-header">
            <div class="tool-card-subheader">
                <span class="label
                            {{#state.pending}}label-info{{/state.pending}}
                            {{#state.configured}}label-success{{/state.configured}}
                            {{#state.rejected}}label-important{{/state.rejected}}
                            {{#state.unknown}}label-warning{{/state.unknown}}">
                    {{state.text}}
                </span>
                <div class="tool-card-actions pull-right">
                    <a class="edit" href="{{{urls.edit}}}">{{#pix}} t/edit, core, Edit{{/pix}}</a>
                    <a class="delete" href="#">{{#pix}} t/delete, core, Reject{{/pix}}</a>
                </div>
            </div>
            <img class="tool-card-icon" src="{{{urls.icon}}}" alt="{{name}}"></img>
            <div class="contenteditable-container">
                <h4 class="name" contenteditable="true">{{name}}</h4>
                <div class="overlay-container">{{> mod_lti/loader }}</div>
            </div>
        </div>
        <div class="tool-card-body">
            <div class="contenteditable-container">
                <p class="description" contenteditable="true">{{description}}</p>
                <div class="overlay-container">{{> mod_lti/loader }}</div>
            </div>
        </div>
        <div class="tool-card-footer">
            {{#state.pending}}
                <a class="approve btn btn-success" href="#">Approve</a>
            {{/state.pending}}
        </div>
    </div>
</div>
{{#js}}
    require(['jquery', 'mod_lti/tool_card_controller'], function($, controller) {
        var cardElement = $('[data-type-id={{id}}]');
        controller.init(cardElement);
    });
{{/js}}
