.path-mod-lti .ltiframe {position: relative;width: 100%;height: 100%;}

/** General Styles **/
.path-mod-lti .userpicture,
.path-mod-lti .picture.user,
.path-mod-lti .picture.teacher {width:35px;height: 35px;vertical-align:top;}
.path-mod-lti .feedback .files,
.path-mod-lti .feedback .grade,
.path-mod-lti .feedback .outcome,
.path-mod-lti .feedback .finalgrade {float: right;}
.path-mod-lti .feedback .disabledfeedback {width: 500px;height: 250px;}
.path-mod-lti .feedback .from {float: left;}
.path-mod-lti .files img {margin-right: 4px;}
.path-mod-lti .files a {white-space:nowrap;}
.path-mod-lti .late {color: red;}
.path-mod-lti .message {text-align: center;}

/* Styles for admin */
.path-admin-mod-lti .mform .fitem .fitemtitle { min-width:18em;padding-right:1em } /* Prevent setting titles from wrapping */

/* Styles for instructor editing an external tool */

.path-mod-lti .mform .fitem .fitemtitle { min-width:14em;padding-right:1em } /* Prevent setting titles from wrapping */

/* Styles for instructor_edit_tool_type.php */
#page-mod-lti-instructor_edit_tool_type .mform .fitem .fitemtitle { min-width:18em;padding-right:1em } /* Prevent setting titles from wrapping */

#registration-submit {
    min-width: 140px;
}

#registration-submit .btn-text {
    display: block;
}

#registration-submit .btn-loader {
    display: none;
}

#registration-submit.loading .btn-text {
    display: none;
}

#registration-submit.loading .btn-loader {
    display: block;
}

.tool-card {
    display: inline-block;
    width: 250px;
    height: 300px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.tool-card-header {
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.tool-card-header .tool-card-icon {
    /*border-radius: 4px;
    background-color: #fff;
    padding: 4px;
    border: 1px solid #e5e5e5;*/
    width: 50px;
    height: 50px;
}

.tool-card-header h4 {
    margin-bottom: 0;
}

.tool-card-header .tool-card-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}


.tool-card-header .tool-card-actions img {
    width: 15px;
    height: 15px;
    margin-left: 7px;
}

.tool-card-body {
    border-top: 1px solid #e5e5e5;
    padding: 10px;
}

.tool-card-body .description {
    margin-top: 10px;
}

.tool-card-footer a {
    margin-left: 10px;
}

.spinner {
    text-align: center;
}

.spinner > div {
    width: 14px;
    height: 14px;
    background-color: #fff;
    vertical-align: middle;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
