/* Dialogue box */
body.path-admin .moodle-dialogue.formctl_types_chooser .moodle-dialogue-bd,
#page-mod-assign-mod .moodle-dialogue.formctl_types_chooser .moodle-dialogue-bd {
    overflow-y: scroll;
    height: 30em;
}
body.path-admin .moodle-dialogue.formctl_types_chooser .moodle-dialogue-ft,
#page-mod-assign-mod .moodle-dialogue.formctl_types_chooser .moodle-dialogue-ft {
    text-align: center;
}

.assignsubmission_file_selector .filetypegroup > label {
    font-weight: bold;
}
.assignsubmission_file_selector .filetypegroup ul {
    list-style: none;
    margin-bottom: 0;
}
.assignsubmission_file_selector .filetypegroup.selected ul {
    display: none;
}
.assignsubmission_file_selector .filetypegroup > label .extlist {
    display: none;
    font-weight: normal;
}
.assignsubmission_file_selector .filetypegroup.selected > label .extlist {
    display: inline;
}
.assignsubmission_file_selector label {
    clear: right;
}
.dir-rtl .assignsubmission_file_selector label {
    clear: left;
}
.assignsubmission_file_selector .extlist {
    float: right;
    color: #888;
    max-width: 80%;
    text-align: right;
}
.dir-rtl .assignsubmission_file_selector .extlist {
    float: left;
    text-align: left;
}

/* Form and admin setting controls. */
body.path-admin input.formctl_types_choose,
#page-mod-assign-mod input.formctl_types_choose,
body.path-admin.jsenabled input.formctl_types_value,
#page-mod-assign-mod.jsenabled input.formctl_types_value {
    display: none;
}
body.path-admin.jsenabled input.formctl_types_choose,
#page-mod-assign-mod.jsenabled input.formctl_types_choose {
    display: inline-block;
}
.assignsubmission_file_label ul {
    width: 30em;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
}
.assignsubmission_file_label li {
    clear: right;
}
.dir-rtl .assignsubmission_file_label li {
    clear: left;
}
.assignsubmission_file_label li .extlist {
    float: right;
    color: #888;
    max-width: 80%;
    text-align: right;
}
.dir-rtl .assignsubmission_file_label li .extlist {
    float: left;
    text-align: left;
}
