{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/form_filetypes_label

    Template to present chosen file types and groups.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * items

    Example context (json):
    {
        "items": [
            {
                "name": "HTML document",
                "extlist": ".html .htm"
            },
            {
                "name": "PDF document",
                "extlist": ".pdf"
            }
        ]
    }
}}
<div class="form-filetypes-label">
{{# items.0}}
    <ul>
        {{#items}}
            <li>{{> core/form_filetypes_type}}</li>
        {{/items}}
    </ul>
{{/ items.0}}
{{^ items.0}}
    <p>{{#str}}noselection, form{{/str}}</p>
{{/ items.0}}
</div>
